@page
@model Website_Plant.Pages.Admin.Plant.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ProductManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Danh sách sản phẩm</h1>
    </li>
    <li class="title-buttonAdd-item">
        <a href="/Admin/Plant/Create" class="title-buttonAdd-link">
            <span class="bi bi-plus"></span> Thêm sản phẩm
        </a>
    </li>   
</ul>
<form class="d-flex">
    <input class="form-control search-input me-2" type="search" name="search" value="@Model.search" placeholder="Nhập tên sản phẩm">
    <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
</form>
<table class="content-table">
    <thead>
        <tr>
            <th style="font-weight: bold">Sản phẩm</th>
            <th class="thead-th-other">Mã sản phẩm</th>
            <th class="thead-th-other">Danh mục</th>
            <th class="thead-th-other">Giá</th>
            <th class="thead-th-other">Ngày thêm</th>
            <th class="thead-th-other"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listPlants)
        {
            <tr>
                <td>
                    <img src="/image/plants/@item.ImageFileName" width="80" height="100" style="border-radius: 4px"/>
                    <span>@item.tensp</span>
                </td>
                <td class="tbody-td-masp">@item.Id</td>
                <td class="tbody-td-other">@item.danhmuc</td>
                <td class="tbody-td-other">@item.gia</td>
                <td class="tbody-td-other">@item.ngaytao</td>
                <td class="tbody-td-other">
                    <a class="tbody-td-link bi bi-pencil" href="/Admin/Plant/Edit?id=@item.Id"></a>
                    &nbsp;
                    <a class="tbody-td-link bi bi-trash" href="/Admin/Plant/Delete?id=@item.Id" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')"></a>
                </td>
            </tr>
        }
        @if (ViewData["ErrorMessage"] != null)
        {
            <p class="error-message">@ViewData["ErrorMessage"]</p>
        }
    </tbody>
</table>
<ul class="pagination-admin">
    @for (int i = 1; i <= Model.totalPage; i++)
    {
        var activeClass = (i == Model.page) ? "pagination-admin-item--active" : "";
        <li class="pagination-admin-item @activeClass">
            <a class="pagination-admin-item-link" href="?page=@(i)&search=@(Model.search)">@i</a>
        </li>
    }
</ul>