@page
@model Website_Plant.Pages.Admin.Message.DetailModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/DetailMessage.css" />
}
<div class="navbar-con">
    <ul class="navbar-listtext">
        <li class="navbar-listtext-item">
            <a href="/Admin/Message" class="navbar-listtext-item-link">Danh sách thư liên hệ</a>
        </li>
        <li class="navbar-listtext-item">
            <i class="navbar-listtext-item-icon bi bi-chevron-right"></i>
        </li>
        <li class="navbar-listtext-item navbar-listtext-item--active">
            <span class="navbar-listtext-item-link">Chi tiết liên hệ</span>
        </li>
    </ul>
</div>
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Chi tiết thư liên hệ</h1>
    </li>
    <li class="title-buttonAdd-item">
        <h2>ID: @Model.contact.ID</h2>
    </li>
</ul>
<div class="col-lg-6 table-order">
        <h3>Thông tin liên hệ</h3>
        <table class="table">
            <tr>
                <td>Người gửi</td>
                <td>@Model.contact.FullName</td>
            </tr>
            <tr>
                <td>Email</td>
            <td>@Model.contact.Email</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>@Model.contact.PhoneNumber</td>
            </tr>
            <tr>
                <td>Ngày gửi</td>
                <td>@Model.contact.CreatedAt</td>
            </tr>
        </table>
</div>
<div class="textarea-box">
    <h3>Lời nhắn</h3>
    <textarea readonly class="textarea-box-message">@Model.contact.Message</textarea>
</div>