@page
@model Website_Plant.Pages.Admin.Message.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MessageManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Danh sách thư liên hệ</h1>
    </li>
</ul>
<table class="content-table">
    <thead>
        <tr>
            <th class="thead-th-other">ID</th>
            <th class="thead-th-other">Họ và Tên</th>
            <th class="thead-th-other">Số điện thoại</th>
            <th class="thead-th-other">Email</th>
            <th class="thead-th-other">Xem</th>
            <th class="thead-th-other"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr>
                <td class="tbody-td-bold">@contact.ID</td>
                <td class="tbody-td-bold">@contact.FullName</td>
                <td class="tbody-td-other">@contact.Email</td>
                <td class="tbody-td-other">@contact.PhoneNumber</td>
                <td class="tbody-td-other">
                    <a class="tbody-td-link bi bi-eye" href="/Admin/Message/Detail?id=@contact.ID"></a>
                    &nbsp;
                    <a class="tbody-td-link bi bi-trash" href="/Admin/Message/Delete?id=@contact.ID" onclick="return confirm('Bạn có chắc chắn muốn xóa thư này?')"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<ul class="pagination-admin">
    @for (int i = 1; i <= Model.totalPage; i++)
    {
        var activeClass = (i == Model.page) ? "pagination-admin-item--active" : "";
        <li class="pagination-admin-item @activeClass">
            <a class="pagination-admin-item-link" href="?page=@(i)">@i</a>
        </li>
    }
</ul>