@page
@using System.Globalization
@model Website_Plant.Pages.Admin.Order.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/OrderManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Danh sách đơn hàng</h1>
    </li>
</ul>
<table class="content-table">
    <thead>
        <tr>
            <th class="thead-th-other">Mã đơn hàng</th>
            <th class="thead-th-other">Số sản phẩm</th>
            <th class="thead-th-other">Ngày đặt</th>
            <th class="thead-th-other">Tổng tiền</th>
            <th class="thead-th-other">Phương thức thanh toán</th>
            <th class="thead-th-other">Trạng thái đơn hàng</th>
            <th class="thead-th-other"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model.listOrders)
        {
            int count = 0;
            decimal total = order.shippingFee;
            for (int i = 0; i < order.items.Count; i++)
            {
                count += order.items[i].quantity;
                total += order.items[i].quantity * order.items[i].unitPrice;
            }
            <tr>
                <td class="tbody-td-masp">@order.id</td>
                <td class="tbody-td-other">@count</td>
                <td class="tbody-td-other">@order.orderDate</td>
                <td class="tbody-td-other">@(total.ToString("N0", new CultureInfo("vi-VN"))) đ</td>
                <td class="tbody-td-other">@order.paymentMethod</td>
                <td class="tbody-td-other">
                    @if (order.orderStatus.Equals("Đã xác nhận"))
                    {
                        <span class="badge-success">@order.orderStatus</span>
                    }
                    else
                    {
                        <span class="badge-warning">@order.orderStatus</span>
                    }
                </td>
                <td class="tbody-td-other">
                    <a class="tbody-td-link bi bi-eye" href="/Admin/Order/Detail?id=@order.id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<ul class="pagination-admin">
    @for (int i = 1; i <= Model.totalPages; i++)
    {
        var activeClass = (i == Model.page) ? "pagination-admin-item--active" : "";
        <li class="pagination-admin-item @activeClass">
            <a class="pagination-admin-item-link" href="?page=@(i)">@i</a>
        </li>
    }
</ul>